In [40]:
import numpy as np
import pandas as pd

In [41]:
#Q1
def one_dimensional_array():
    arr = ["Harsh Soni","Abhay Soni", "Rishabh Kumrawat"]
    print(pd.Series(arr))
one_dimensional_array()

0          Harsh Soni
1          Abhay Soni
2    Rishabh Kumrawat
dtype: object

In [112]:
#Q2
def list_py():
    series_s = pd.Series([11,22,33,44,55])
    l1 = series_s.tolist()
    print(f"Panda_module_Series : \n{series_s}, \nType : {type(series_s)}")
    print(f"Python_list : {l1}, \nType : {type(l1)}")

list_py()

Panda_module_Series :
0    11
1    22
2    33
3    44
4    55
dtype: int64,
Type : <class 'pandas.core.series.Series'>
Python_list : [11, 22, 33, 44, 55],
Type : <class 'list'>

In [110]:
#Q3
def arithmetic_operation():
    S1 = pd.Series([2,4,6,8,10])
    S2 = pd.Series([1,3,5,7,9])
    add = S1+S2
    sub = S1-S2
    mul = S1*S2
    div = S1/S2
    
    print(f"Addition : \n{add}")
    print(f"Subtraction : \n{sub}")
    print(f"Multiplication : \n{mul}")
    print(f"Division : \n{div}")
arithmetic_operation()

Addition :
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtraction :
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiplication :
0     2
1    12
2    30
3    56
4    90
dtype: int64
Division :
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [113]:
#Q4
def disc_into_series():
    d1 = {'Name' : 'Harsh', 'Age' : 25, 'Company' : 'BPCL'}
    s1 = pd.Series(d1)
    print(f"Dictionary : {d1}")
    print(f"Series : \n{s1}")
disc_into_series()

Dictionary : {'Name': 'Harsh', 'Age': 25, 'Company': 'BPCL'}
Series :
Name       Harsh
Age           25
Company     BPCL
dtype: object

In [114]:
#Q5
def nparray_into_pdseries():
    a1 = np.array([11,22,33,44,55])
    s1 = pd.Series(a1)
    print(f"Numpy_array = {a1}")
    print(f"Pandas_series : \n{s1}")
nparray_into_pdseries()

Numpy_array = [11 22 33 44 55]
Pandas_series :
0    11
1    22
2    33
3    44
4    55
dtype: int64

In [50]:
#Q6
def change_dtype():
    s1 = pd.Series([11,22,33,44,55], dtype=float) 
    print(s1)

change_dtype()

0    11.0
1    22.0
2    33.0
3    44.0
4    55.0
dtype: float64

In [115]:
#Q7
def series_arr():
    s1 = pd.Series([11,22,33,44,55])
    a1 = s1.values
    print(f"series : \n{s1} \ntype = {type(s1)}")
    print(f"arr = {a1} \ntype = {type(a1)}")
series_arr()

series :
0    11
1    22
2    33
3    44
4    55
dtype: int64
type = <class 'pandas.core.series.Series'>
arr = [11 22 33 44 55]
type = <class 'numpy.ndarray'>

In [102]:
#Q8
def create_dataframe():
    s1 = pd.Series({'Name' : 'Harsh', 'empid' : 434, 'Company' : 'BPCL', 'Design' : 'Production Officer'})
    df = pd.DataFrame(s1)
    print(f"Dataframe = \n{df}")
create_dataframe()

Dataframe =
                          0
Name                  Harsh
empid                   434
Company                BPCL
Design   Production Officer

In [132]:
#Q9_1,2&3
def employees():
    empid = [1,2,3,4,5,6,7,8,9,10]
    name = ['Harsh','Abhay', 'Ramya', 'Rishabh', 'Sanket', 'Rutuja', 'Mamta', 'Krishna', 'Priyanshu', 'Nikhil']
    s1 = pd.Series(empid)
    s2 = pd.Series(name)

    df = pd.DataFrame({
        'empid' :s1,
        'name' :s2
    })

    print(f"s1 : \n{s1} Type = {type(s1)}")
    print(f"s2 : \n{s2} Type = {type(s2)}")
    print(f"All_recods : \n{df}")
    print(f"First_five_records : \n{df.head(5)}")
    print(f"First_five_records : \n{df.tail(5)}")
    print(f"First_two & last_two_records : \n{df.head(2)}, \n{df.tail(2)}")
    print(f"5th_records : \n{df.iloc[4]['name']}")
    print(f"4th_records : \n{df.iloc[4]}")

employees()

s1 :
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64 Type = <class 'pandas.core.series.Series'>
s2 :
0        Harsh
1        Abhay
2        Ramya
3      Rishabh
4       Sanket
5       Rutuja
6        Mamta
7      Krishna
8    Priyanshu
9       Nikhil
dtype: object Type = <class 'pandas.core.series.Series'>
All_recods :
   empid       name
0      1      Harsh
1      2      Abhay
2      3      Ramya
3      4    Rishabh
4      5     Sanket
5      6     Rutuja
6      7      Mamta
7      8    Krishna
8      9  Priyanshu
9     10     Nikhil
First_five_records :
   empid     name
0      1    Harsh
1      2    Abhay
2      3    Ramya
3      4  Rishabh
4      5   Sanket
First_five_records :
   empid       name
5      6     Rutuja
6      7      Mamta
7      8    Krishna
8      9  Priyanshu
9     10     Nikhil
First_two & last_two_records :
   empid   name
0      1  Harsh
1      2  Abhay,
   empid       name
8      9  Priyanshu
9     10     Nikhil
5th_records :
Sanket
4th_records :
empid         5
name     Sanket
Name: 4, dtype: object